html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

img, h5 {
  display: inline-block;
}

h3 {
  margin: 0px;
}

#headline-singles {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: orange;
  color: #fff;
  margin-bottom: 20px;
}

#headline-couples {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  background-color: blue;
  color: #fff;
  margin-bottom: 20px;
}

#home {
  background-image: url('http://science-all.com/images/wallpapers/party-pictures/party-pictures-13.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerhome {
  min-height: 200px;
  width: 100%;
  background-color: rgba(255,255,255,.5);
}

#map {
  height:100%;
}

.text-center {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding {
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 720px){

}
