<div id="about-image"></div>
<div id="about-headline">
  <div class="container">
    <h3>About</h3>
  </div>
</div>
<div class="container" id="about">
  <div class="row">
    <div class="twelve columns">
      <p>
        This app is designed to give you options on a good night out.  Depending on your situation, whether you are "Single Ready to Mingle" or if you wnat a Date night out with your significant other.  So all that if left to do is press the button, and get a plan for your NightOut!
      </p>
    </div>
  </div>
</div>
