<ng-map center="current-location"zoom="12">
  <marker position="current-location" title="You Are Here!"></marker>
  <marker ng-repeat="obj in cCtrl.site" position="{{obj.lat}},{{obj.lng}}" title="{{obj.name}}"></marker>
</ng-map>

<section id="headline-couples">
  <h3>Want a date night, <small>see how these places work!</small></h3>
</section>

<div class="container">
  <div class="row">
    <div class="four columns" ng-repeat="obj in cCtrl.site | filter: cCtrl.typeFormat">
      <img src="{{obj.icon}}" alt="Icon">
      <h5>{{obj.type}}</h5>
      <h4>{{obj.name}}</h4>
      <p>{{obj.vicinity}}</p>
    </div>
  </div>
</div>
