<section id="home">
  <section id="innerhome">
    <div class="container">
      <div class="row text-center">
        <div class="six columns">
          <h4>Singles</h4>
          <p>For the ones looking for a good time out!</p>
          <a class="button button-primary" href="/#/singles">Get A Plan</a>
        </div>
        <div class="six columns">
          <h4>Couples</h4>
          <p>For couples that want to have a date night!</p>
          <a class="button button-primary" href="/#/couples">Get A Plan</a>
        </div>
      </div>
    </div>
  </section>
</section>
