<ng-map center="current-location" zoom="11">
  <marker position="current-location" title="You Are Here!"></marker>
  <marker ng-repeat="obj in sCtrl.site" position="{{obj.lat}},{{obj.lng}}" title="{{obj.name}}"></marker>
</ng-map>

<section id="headline-singles">
  <h3>Single And ready to Mingle, <small>try out these places!</small></h3>
</section>

<div class="container">
  <div class="row">
    <div class="four columns"   ng-repeat="obj in sCtrl.site | filter: sCtrl.typeFormat">
      <img src="{{obj.icon}}" alt="Establishment Icon">
      <h5>{{obj.type}}</h5>
      <h4>{{obj.name}}</h4>
      <p>{{obj.vicinity}}</p>
    </div>
  </div>
</div>
